{% extends 'base.html.twig' %}

{% block title %}Mes adresses - Ma Boutique Demo
{% endblock %}

{% block content %}
	<a href="{{path('account_address_add')}}" class="btn btn-secondary float-right">Ajouter une adresse</a>
	<h1>Mes adresses</h1>
	Cest dans cette espace que vous allez gérer toutes vos adresses.

	<div>
		<a class="btn btn-dark" href="{{path('account')}}">Retourner à mon compte</a>
	</div>

	<hr>

	{% if app.user.addresses|length == 0 %}
		<p class="text-center">
			Vous n'avez pas encore ajouté d'adresse dans votre compte client. Pour en ajouter une adresse, veuillez
			<a href="{{path('account_address_add')}}">cliquez-ici</a>
		</p>
	{% else %}
		<div class="row">
			{% for address in app.user.addresses %}
				<div class="col-md-4">
					<div class="card" style="width: 18rem;">
						<div class="card-body">
							<h5 class="card-title">{{address.name}}</h5>
							<p class="card-text">
								{{address.address}}<br/>
								{{address.postal}}
								-
								{{address.city}}
								-
								{{address.country}}
							</p>
							<a href="{{path('account_address_edit', {'id': address.id})}}" class="btn btn-secondary">Modifier</a>
							|
							<a href="{{path('account_address_delete', {'id': address.id})}}" class="btn btn-danger">Supprimer</a>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	{% endif %}
{% endblock %}
